<div class="fluid-container" style="background-color: #fff; border: 1px solid gray;">
	<div class="row">
		<div class="col-md-4">
			<%=image_tag "13.jpg", :class => 'business-tag'%>
			<figcaption >Clothes</figcaption>
		</div>
		<div class="col-md-4">
			<%=image_tag "14.jpg", :class => 'business-tag'%>
			<figcaption>Medical</figcaption>
		</div>
		<div class="col-md-4">
			<%=image_tag "15.jpg", :class => 'business-tag'%>
			<figcaption>Plywood</figcaption>
		</div>
		<div class="col-md-4">
			<%=image_tag "16.jpg", :class => 'business-tag'%>
			<figcaption>Builder</figcaption>
		</div>
		<div class="col-md-4">
			<%=image_tag "17.jpg", :class => 'business-tag'%>
			<figcaption>Cotton Mil</figcaption>
		</div>
		<div class="col-md-4">
			<%=image_tag "6.jpg", :class => 'business-tag'%>
			<figcaption>Automobile</figcaption>
		</div>
		<div class="col-md-4">
			<%=image_tag "7.jpg", :class => 'business-tag'%>
			<figcaption>Software Development</figcaption>
		</div>
		<div class="col-md-4">
			<%=image_tag "8.jpg", :class => 'business-tag'%>
			<figcaption>Dairy Form</figcaption>
		</div>
		<div class="col-md-4">
			<%=image_tag "9.jpg", :class => 'business-tag'%>
			<figcaption>Hotel</figcaption>
		</div>
		<div class="col-md-4">
			<%=image_tag "10.jpg", :class => 'business-tag'%>
			<figcaption>Coaching And School</figcaption>
		</div>
		<div class="col-md-4">

			<%=image_tag "11.jpg", :class => 'business-tag'%>
			<figcaption>Tour & Travel</figcaption>
		</div>
		<div class="col-md-4">
			<%=image_tag "12.jpg", :class => 'business-tag'%>
			<figcaption>Other</figcaption>
		</div>
	</div>
</div>