<!-- <h2>Friends</h2>
<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%=friendship.friend.try(:first_name) %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%= user.first_name %></li>
  <% end %>
</ul> -->

<div class="container">
	<div class="row">
		<div class = "col-md-8 friend-show">
			<%= image_tag "#{@user.id+1}.jpg", :class => 'friend-background-image' %>
			<div class="friend-pro-on-back">
				<%= image_tag "#{@user.id}.jpg", :class => '' %>
				<div class="col-md-6">
					<ul class="key">
						<li>Name:</li>
						<li>Email:</li>
						<li>Gender:</li>
						<li>Phone:</li>
						<li>Profession:</li>
						<li>Date of Birth:</li>
						<% if @user.address.present?%>
							<li>Address:</li>
						<% end %>	
						<li>Status:</li>
						<% if @user.description_of_profession.present?%>
							<li>Desciption Of Profession:</li>
						<% end %>	
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="value">
						<li><%= @user.first_name+' '+@user.last_name%></li>
						<li><%= @user.email %></li>
						<li><%= @user.gender %></li>
						<li><%= @user.phone %></li>
						<li><%= @user.profession%></li>
						<li><%= @user.dob%> (<%= (age_in_years @user)%>years)</li>
						<li><%= @user.address%></li>
						<li><%= @user.status%></li>
						<li><%= @user.description_of_profession %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6"></div>
	</div>
</div>