<style type="text/css">
  body{
    background-image: url('/assets/couple.jpg');
  }
</style>
<div class="login-container animated fadeInDown bootstrap snippets">
        <div class="loginbox bg-white">
            <div class="loginbox-title">SIGN IN</div>
            <div class="loginbox-social">
                <div class="social-title ">Connect with Your Social Accounts</div>
                <div class="social-buttons">
                    <a href="" class="button-facebook">
                        <i class="social-icon fa fa-facebook"></i>
                    </a>
                    <a href="" class="button-twitter">
                        <i class="social-icon fa fa-twitter"></i>
                    </a>
                    <a href="" class="button-google">
                        <i class="social-icon fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
            <div class="loginbox-or">
                <div class="or-line"></div>
                <div class="or">OR</div>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="loginbox-textbox field">
                <%= f.email_field :email, autofocus: true, class: 'form-control' %>
              </div>
              <div class="loginbox-textbox field">
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              </div>
              <% if devise_mapping.rememberable? -%>
                <div class="field loginbox-textbox">
                  <%= f.check_box :remember_me %>
                  <span>Remember Me</span>
                </div>
              <% end -%>
              <div class="loginbox-forgot">
                  <%= link_to "Forgot password?", new_password_path(resource_name) %>
              </div>
              <div class="loginbox-submit">
                  <%= f.submit "Log in",class: 'btn btn-primary btn-block' %>
              </div>
            <% end %>
            <div class="loginbox-signup">
                <a href="#register.html">Sign Up With Email</a>
            </div>
        </div>
        <div class="logobox">
        </div>
    </div>
