<% @posts.each do |post|%>
	<div class="row created-post-display">
		<div class="post-user-head">
			<div class="profile-pic">
				<% post_attachment = post.attachments.first %>
				<% if post.user.attachments.present? %>
					<span><%= image_tag post.user.attachments.first.image_url%></span>
				<% end %>		
				<label style="text-transform: capitalize;"><%= post.user.first_name+' '+post.user.last_name%></label>				
				<span><%= time_ago_in_words(post.created_at).gsub('about','') + ' ago' %></span>
			</div>
		</div>
		<div>
			<p class="padding-10"><%= post.description%></p>
			<%= image_tag post_attachment.image_url, :style => 'width:100%;heigth: 300px;', :class => 'img-thumbnail'%>
			<hr>
		</div>
		<div class="row like-comment-share-row">
			<span>
				<%=link_to  'javascript:void(0)' do %>
					<i class="fa fa-thumbs-up" aria-hidden="true">Like</i>
				<%end%>	
			</span>|
			<span>
				<i class="fa fa-comment" aria-hidden="true">Comment</i>
			</span>|
			<span><i class="fa fa-share" aria-hidden="true"></i>Share</span>
		</div>
		<div class="comments" style="background-color: #f6f7f9;border-top: 1px solid #e1e2e3;">
			<%= render :partial => 'posts/comments_show', :locals => {:post => post} %>
		</div>
		<div class="comment " style="background-color: #fcfcfc;">
			<%= render  :partial =>'comments/new', :locals => {:post => post} %>
		</div>
	</div>
<%end%>